*{
  margin:0;
  padding:0;
}
.root{
  margin: 0;
  pad: 0;
}
.headingTitle{
  font-size: 35px;
  margin: 5px 0 0 96px;
  height : 41px;

}
.heading{
  color: white;
  box-shadow:0 0 10px 0 rgba(0,0,0,0.3);
  background-color: #f5f523;
  height: 78px;
  display: flex;
  align-items: center;
}

.footer{
  position:absolute;
  text-align: center;
  bottom:0;
  width:100%;
  height:2.5rem;
}

.footerTitle{
  color: #ccc;
}

.note{
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.noteTitle{
  font-size: 1.1em;
  margin-bottom: 6px;
}

.noteContent{
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;

}


